<mat-card class="about-me-card center">
  <mat-card-header>
    <div mat-card-avatar class="header-img"></div>
    <mat-card-title>The basics</mat-card-title>
    <mat-card-subtitle>About me, my resume, and LinkedIn profile.</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image id="about-me-img" src="..\assets\profilepic2.jpeg" alt="Photo of Valencia">
  <mat-card-content>
    <p>
      I appreciate you taking the time to learn more about me. My name is Valencia,
      but I prefer V or Wolf. My pronouns are she/her and they/them. I received my
      Bachelor's degree in Computer Science and I have been working professionally
      in tech for 9 years. I live and work in the NYC metro area. When I'm not working,
      you will find me gaming, hanging out with friends and family, writing creatively
      or working on my personal growth. I love animals, laughter, and listening to people
      talk about what they're passionate about. I prefer to work alone in my typical
      day-to-day, but I welcome collaboration within my team and across teams,
      the opportunity to mentor Jr. QA Engineers, and I'm never afraid to ask for help
      or clarification when I need it.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button><a href="https://www.linkedin.com/in/valenciamcm/" target="_blank" tabindex="0">
      <span>My LinkedIn Profile</span>
    </a></button>
    <button mat-raised-button><a href="..\assets\resume.pdf" target="_blank"><span>My resume</span></a></button>
  </mat-card-actions>
</mat-card>


