.about-me-card, .my-philosophy-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  max-width: 90vw;
  max-height: 80vh;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.about-me-card {
  background-color: #f0f7ff; /* Light blue */
  color: #021d4f; /* Dark navy text */
}

.my-philosophy-card {
  background-color: #ffeaf0; /* Light pink */
  color: #850e3a; /* Darker text for contrast */
}

.content-container {
  overflow-y: auto;
  padding: 0 10px;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 15px;
  padding-bottom: 10px;
}

mat-card img {
  object-fit: cover;
  max-width: 30%;
  border-radius: 50%;
  transition: transform 0.3s;
}

mat-card img:hover {
  transform: scale(1.1);
}

button[mat-raised-button] {
  color: white;
  padding: 6px 20px;
  font-weight: bold;
}

p, mat-card-subtitle {
  margin: 5px 0;
}

@media (max-width: 600px) {
  .about-me-card, .my-philosophy-card {
    max-height: 100vh;
    overflow: auto;
  }
  
  .content-container, .actions-container {
    width: 100%;
    justify-content: center;
  }

  button[mat-raised-button] {
    width: 90%;
    margin: 5px 0;
  }
}
