.about-me-card{
  margin-top: 10px;
  max-width: 60vh;
  max-height: 55vh;
  background-color: rgb(211, 247, 249);
}

.my-philosophy-card{
  margin-top: 10px;
  max-width: 60vh;
  max-height: 50vh;
  background-color: rgb(214, 249, 211);
}

mat-card img {
  object-fit: cover;
  /*this makes the image in src fit to the size specified below*/
  max-width: 25%;
}

.header-img {
  background-image: url('src\assets\profilepic2.jpeg');
  background-size: cover;
}

button, p, mat-card-subtitle {
  margin: 2px;
}

@media (max-width: 600px) {
  .shrinkable-content {
    flex-shrink: 1;
    flex-basis: 100%;
  }

  .shrinkable-actions {
    flex-shrink: 1;
    flex-basis: 100%;
  }
}
