<h2 class="center">Demo Projects</h2>
<p class="center"> These are projects I built in order to demonstrate my coding ability. Each of them is a work in progress, with the exception of the Python Webdriver Testsuite, which I do not plan to continue.</p>

<mat-tab-group>
    <mat-tab label="Cypress Test Suite">
        <div>
            <strong>Link:</strong>
            <a href="https://github.com/Valencia2019/cypress-playground" target="_blank">cypress-playground Repository</a>
        </div>
        <div>
            <strong>Description:</strong>
            <p>The test suite in this GitHub Repository represents my "bread and butter" as far as test automation goes since it's built on the Cypress.io framework and I use it daily in my current role.</p>
        </div>
    </mat-tab>
    <mat-tab label="Playwright Python Test Suite">
        <div>
            <strong>Link:</strong>
            <a href="https://github.com/Valencia2019/playwright-playground" target="_blank">playwright-playground Repository</a>
        </div>
        <div>
            <strong>Description:</strong>
            <p>This GitHub repository holds a testsuite that is build on the Playwright automation framework using Python. I chose python because I thought it would be fun to step out of my comfort zone in javascript.</p>
        </div>
    </mat-tab>
    <mat-tab label="Python Webdriver Testsuite">
        <div>
            <strong>Link:</strong>
            <a href="https://github.com/Valencia2019/python-web-suite" target="_blank">python-web-suite Repository</a>
        </div>
        <div>
            <strong>Description:</strong>
            <p>I created this project when I first began to look into using python for automated testing. Since Selenium Webdriver is the basis for most frameworks, I thought it would be interesting to use it to build a python test suite. I spent a day or so on this testsuite before I realized I didn't like it at all. I've included it here because I thought it would be an interesting contrast in my work.</p>
        </div>
    </mat-tab>
</mat-tab-group>