<div class="hero">
  <h1>Valencia McMurray</h1>
  <p>Full Stack Developer & QA Expert</p>
</div>

<div class="content" role="main">
  <!-- Options -->
  <h2>Welcome to my portfolio!</h2>
  <p>Use the links below to learn more about me, see my resume, and view examples of my work.</p>

  <!-- Navigation Cards -->
  <nav class="card-container">
    <a class="card" routerLink="/about-me" tabindex="0">
      <span class="material-symbols-outlined">info</span>
      <span>About Me</span>
    </a>
    <a class="card" routerLink="/my-projects" tabindex="0">
      <span class="material-symbols-outlined">folder_open</span>
      <span>My Projects</span>
    </a>
    <a class="card" routerLink="/contact-me" tabindex="0">
      <span class="material-symbols-outlined">contacts</span>
      <span>Contact Me</span>
    </a>
  </nav>

  <!-- Featured Project -->
 @if(onHomePage){
  <section class="featured-project">
    <h3>Featured Project: Job Matching Platform</h3>
    <p>An NYC-focused platform that connects freelancers with businesses, leveraging dynamic user matching with a smooth front-end.</p>
    <a routerLink="/my-projects/job-matching" class="view-project">View Project</a>
  </section>
 }

  <router-outlet></router-outlet>
</div>
