<div class="content" role="main">
  <!-- Options -->
  <h2><a routerLink="/">Welcome to my portfolio!</a></h2>
  <p>Use the links below to learn more about me, see my resume and examples of my code.</p>
  <nav class="card-container">
    <a class="card card-small" routerLink="/about-me" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>About me</span>
    </a>

    <a class="card card-small" routerLink="/resume"  tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>My Resume</span>
    </a>

    <a class="card card-small" href="https://www.linkedin.com/in/valenciamcm/" target="_blank" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>My LinkedIn Profile</span>
    </a>

    <button class="card card-small" routerLink="/my-projects" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>My projects</span>
    </button>
    <button class="card card-small" routerLink="/contact-me" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Contact Me</span>
    </button>

  </nav>
  <router-outlet></router-outlet>
</div>


